body {
  font-family: Arial, sans-serif;
  background-image: url('images/Background.jpg');
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
}

.content-container {
  text-align: center; /* Centers the text inside the container */
  width: 60%;
  max-width: 600px;
}

h3 {
  
  margin: 40px 0;
  position: absolute; /* Keeps it at the top */
  top: 20px;
  text-align: left;
  width: 80%;
  color: #edf0f2;
}

video {
  width: 70%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 70px;
}

button {
  width: 70%; /* Matches the container's width */
  padding: 10px;
  font-size: 16px;
  background-color: #2b668c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #7a6f6f;
}








